* {
  margin: 0;
  box-sizing: border-box;
}
h1,
h3 {
  display: inline-block;
}
.cards-container {
  /* display: grid; */
  /* grid-template-columns: repeat(4, 1fr); */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  padding: 20px;
  width: 100%;
  height: 100%;
}
