.card {
  position: relative;
}
h3 {
  position: absolute;
  bottom: 10px;
  left: 1.5rem;
  /* align-self: center; */
  /* text-align: center; */
  color: white;
  font-size: 1.2em;
  align-items: center;
  justify-content: center;
}

img {
  border-radius: 2rem;
  border: 2px solid black;
}
